.bg-img {
    background-image: url("AuthBackground.jpg");
  
    /* Add the blur effect */
  
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-form {
    filter: blur(0px) !important;
  }
  